<footer class="footer-agtech">
    <div class="container">

        <p class="mb-1">
            Trabajo Integrador – Programación II<br>
            Grupo de 6 integrantes
        </p>

        <p class="mb-1">
            📧 Contacto:
            <a href="{% url 'contacto' %}" class="text-light text-decoration-underline">
                Ver información de contacto
            </a>
        </p>

        <p class="mb-0">
            © 2025 – Informatorio | Comisión 7 – Grupo 6
        </p>

    </div>
</footer>
