{% extends 'base.html' %}

{% block title %}Contacto{% endblock %}

{% block content %}

<h2>Contacto 📬</h2>

<p>
    Esta página corresponde a la información de contacto del <strong>Proyecto Final</strong>
    realizado para el curso <strong>Informatorio</strong>.
</p>

<h3>Integrantes del grupo</h3>
<ul>
    <li>Alejandro Basualdo</li>
    <li>Gabriel Eliseo Sanchez</li>
    <li>Hector Manuel Medina</li>
    <li>Luka Edgardo Burgos Salvadeo</li>
    <li>María Emilia Rodríguez</li>
    <li>Rodrigo Peñaflor</li>
</ul>

<h3>Información de contacto</h3>
<p>
    📧 Correo electrónico: <strong>contacto@ejemplo.com</strong><br>
    📞 Teléfono: <strong>(011) 1234-5678</strong><br>
    👥 Grupo Numero: <strong>6</strong><br>
    🏫 Comisión: <strong>7</strong><br>
    📅 Año: 2025
</p>

<p class="disclaimer">
   <em>
   Este sitio fue desarrollado en el marco de un proyecto integrador grupal,
   con fines informativos y de acceso gratuito,
   sin representar ninguna entidad comercial.
   </em>
</p>



{% endblock %}
