<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INICIO</title>
</head>

<body>
    <header style="background-color: lightblue;">
        INICIO
    </header>
    <main>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem provident sunt soluta corporis, illo quaerat
        quae odio laboriosam quo deserunt adipisci repudiandae est voluptates voluptatem eum necessitatibus, nobis
        minima aperiam.
    </main>
    <footer style="background-color: lightblue;">
        <hr>
        <h4>INFORMATORIO</h4>
        <strong>Etapa 2 - Comision 7</strong>
        <br>
        <small>Segunda Cohorte 2025</small>
        <hr>
    </footer>
</body>

</html>