{% extends "base.html" %}

{% block content %}
<h2>Usuarios</h2>

<table>
  <tr>
    <th>Usuario</th>
    <th>Email</th>
    <th>Rol</th>
    <th>Acciones</th>
  </tr>
  {% for user in users %}
  <tr>
    <td>{{ user.username }}</td>
    <td>{{ user.email }}</td>
    <td>{{ user.get_rol_display }}</td>
    <td>
      <a href="{% url 'users:detail' user.id %}">Ver</a>
      {% if request.user.rol == 'admin' %}
          <a href="{% url 'users:edit' user.id %}">Editar</a>
      {% endif %}
      <a href="{% url 'users:delete' user.id %}">Eliminar</a>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
