{% extends "inicio.html" %}

{% block titulo %}COM7 | INGRESAR{% endblock %}

{% block encabezado %}INGRESAR{% endblock %}

{% block contenido %}
<h2>INICIAR SESION 🔐</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Ingresar</button>
</form>

<div style="margin-top: 20px;">
    <p>¿No tienes cuenta? <a href="{% url 'apps.autenticacion:registrar' %}">Regístrate aquí</a></p>
</div>
<div style="margin-top: 20px;">
    <a href="{% url 'inicio' %}">Volver al menu</a>
</div>
{% endblock %}